@model GestãoDeTurmas.Views.Shared.PaginacaoViewModel

@if (Model.TotalPaginas > 1)
{
    <nav aria-label="Navegação de página">
        <ul class="paginacao">
            <li class="item-pagina @(Model.TemPaginaAnterior ? "" : "disabled")">
                <a class="link-pagina"
                   asp-controller="@Model.Controller"
                   asp-action="@Model.Action"
                   asp-all-route-data="@Model.FiltrosComPagina(Model.PaginaAtual - 1)">
                    &lt;
                </a>
            </li>
            @foreach (var pagina in Model.PaginasVisiveis())
            {
                if (pagina == null)
                {
                    <li class="item-pagina disabled">
                        <span class="link-pagina">...</span>
                    </li>
                }
                else
                {
                    <li class="item-pagina @(pagina == Model.PaginaAtual ? "active" : "")">
                        <a class="link-pagina"
                           asp-controller="@Model.Controller"
                           asp-action="@Model.Action"
                           asp-all-route-data="@Model.FiltrosComPagina(pagina.Value)">
                            @pagina
                        </a>
                    </li>
                }
            }
            <li class="item-pagina @(Model.TemProximaPagina ? "" : "disabled")">
                <a class="link-pagina"
                   asp-controller="@Model.Controller"
                   asp-action="@Model.Action"
                   asp-all-route-data="@Model.FiltrosComPagina(Model.PaginaAtual + 1)">
                    &gt;
                </a>
            </li>
        </ul>
    </nav>
}