@model GestãoDeTurmas.Models.Dashboard.DashboardDadosViewModel;

@{
    ViewData["Title"] = "Início";
}

<h5>Dashboard</h5>

<div class="cards-dashboard">

    <div class="card-dashboard">
        <div class="card-dashboard-cabecalho">
            <p class="card-dashboard-titulo">Total alunos</p>
            <div class="card-dashboard-icone">
                <icone nome="Alunos"></icone>
            </div>
        </div>
        <div class="card-dashboard-footer">
            <p class="card-dashboard-data">@Model.TotalAlunos</p>
            <h6 class="card-dashboard-data-secundaria">@Model.AlunosInativos inativos</h6>
        </div>
    </div>

    <div class="card-dashboard">
        <div class="card-dashboard-cabecalho">
            <p class="card-dashboard-titulo">Total docentes</p>
            <div class="card-dashboard-icone">
                <icone nome="Docentes"></icone>
            </div>
        </div>
        <div class="card-dashboard-footer">
            <p class="card-dashboard-data">@Model.TotalDocentes</p>
            <h6 class="card-dashboard-data-secundaria">@Model.DocentesInativos inativos</h6>
        </div>
    </div>

    <div class="card-dashboard">
        <div class="card-dashboard-cabecalho">
            <p class="card-dashboard-titulo">Total disciplinas</p>
            <div class="card-dashboard-icone">
                <icone nome="Disciplinas"></icone>
            </div>
        </div>
        <div class="card-dashboard-footer">
            <p class="card-dashboard-data">@Model.TotalDisciplinas</p>
            <h6 class="card-dashboard-data-secundaria">@Model.DisciplinasInativos inativos</h6>
        </div>
    </div>

    <div class="card-dashboard">
        <div class="card-dashboard-cabecalho">
            <p class="card-dashboard-titulo">Total turmas</p>
            <div class="card-dashboard-icone">
                <icone nome="Turmas"></icone>
            </div>
        </div>
        <div class="card-dashboard-footer">
            <p class="card-dashboard-data">@Model.TotalTurmas</p>
        </div>
    </div>

</div>