@using Common.Enums
@model GestãoDeTurmas.Models.Turma.TurmaInputViewModel;
@{
}
<form method="post" asp-action="Adicionar" asp-controller="GerenciarTurma">
    <div asp-validation-summary="ModelOnly" class="alerta alerta-erro" role="alert"></div>

    <div class="form-group">
        <label for="identificador">Identificador</label>
        <input type="text" asp-for="@Model.Identificador" class="form-control" placeholder="A / B / C... ">
        <span asp-validation-for="@Model.Identificador" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Serie">Série</label>
        <select asp-for="Serie" class="form-control"
                asp-items="Html.GetEnumSelectList<SerieEnum>()">
            <option value="">Selecione uma série...</option>
        </select>
        <span asp-validation-for="Serie" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="anoLetivo">Ano Letivo</label>
        <input type="number" asp-for="@Model.AnoLetivo" class="form-control" placeholder="2024/2025...">
        <span asp-validation-for="@Model.AnoLetivo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="vagasMaximas">Vagas Máximas</label>
        <input type="number" asp-for="@Model.VagasMaximas" class="form-control">
        <span asp-validation-for="@Model.VagasMaximas" class="text-danger"></span>
    </div>
    <br />
    <div class="d-flex gap-2">
        <button type="submit" class="botao botao-primario botao-acao">Adicionar</button>
    </div>
</form>