@model GestãoDeTurmas.Models.Turma.ListaTurmaViewModel;

<div class="card-turma">
    <div class="card-header">
        <h5>@Model.NomeExibicao</h5>
        <h6>@Model.Turno - @Model.AnoLetivo</h6>
    </div>
    <div class="card-body d-flex gap-1">
        <small>
            <icone nome="Alunos" /> @Model.QuantidadeAlunos
        </small>
        <small>
            <icone nome="Disciplinas" /> @Model.QuantidadeDisciplinas
        </small>
    </div>
    <div class="card-footer">
        <button class="botao-acao-icone" title="Editar">
            <icone nome="Editar"></icone>
        </button>
        <button class="botao-acao-icone" title="Detalhes">
            <icone nome="SetaDireita"></icone>
        </button>
    </div>
</div>