@model GestãoDeTurmas.Models.Turma.ListaTurmaViewModel;

<div class="card-turma">
    <div>
        <h5 class="card-turma-nome">@Model.NomeExibicao</h5>
    </div>
    <h6 class="card-turma-subtitulo">@Model.Turno - @Model.AnoLetivo</h6>
    <div class="card-body d-flex gap-2">
        <small>
            <icone nome="Alunos" /> 
            @Model.QuantidadeAlunos Alunos
        </small>
        <small>
            <icone nome="Disciplinas" /> 
            @Model.QuantidadeDisciplinas Disciplinas
        </small>
    </div>
    <div class="card-turma-acoes">
        <button class="botao-acao-icone" title="Editar" onclick="abrirModal('@Url.Action("Editar", new {id = Model.TurmaId})', 'Editar Turma')">
            <icone nome="Editar"></icone>
        </button>
        <button class="botao-acao-icone" title="Detalhes">
            <icone nome="SetaDireita"></icone>
        </button>
    </div>
</div>