@model GestãoDeTurmas.Models.Turma.TurmaDetalhesViewModel;
@{
    ViewData["Title"] = Model.NomeExibicao;
}

@Html.AntiForgeryToken()

<div class="container-detalhes-turma" data-turma-id="@Model.Id">
    <div class="d-flex align-items-center gap-3 mb-3">
        <a asp-action="Index" class="botao-icone" title="Voltar">
            <icone nome="SetaEsquerda"></icone>
        </a>

        <div>
            <h5 class="mb-0">@Model.NomeExibicao</h5>

            <span class="text-muted ">
                @Model.Turno - @Model.AnoLetivo - @Model.TotalMatriculados/@Model.Capacidade vagas
            </span>
        </div>
    </div>

    <ul class="nav nav-tabs mb-4" id="abas-detalhes" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active"
                    id="grade-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#aba-grade"
                    type="button"
                    role="tab">
                <icone nome="Disciplinas"> Grade e Docentes</icone>
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link"
                    id="alunos-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#aba-alunos"
                    type="button"
                    role="tab">
                <icone nome="Turmas"> Alunos Matriculados</icone>
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="aba-grade" role="tabpanel">
            <partial name="_AbaGrade" model="Model" />
        </div>

        <div class="tab-pane fade" id="aba-alunos" role="tabpanel">
            @* <partial name="_AbaAlunos" model="Model" /> *@
        </div>
    </div>
</div>
<div id="detalhe-config"
     data-turma-id="@Model.Id"
     data-url-docentes="@Url.Action("ObterDocentesPorDisciplina", "GerenciarTurma")"
     data-url-vincular="@Url.Action("VincularDisciplina", "GerenciarTurma")"
</div>

@section Scripts {
    <script src="~/js/turma/detalhes.js"></script>
    @* eu poderia usar o asp-append-version="true" para não ter problemas com cache*@
}