@model GestãoDeTurmas.Models.Docente.DocenteInputViewModel

<form method="post" asp-action="Adicionar" asp-asp-controller="GerenciarDocente">
    <div asp-validation-summary="ModelOnly" class="alerta alerta-erro" role="alert"></div>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="@Model.Nome" class="form-control" placeholder="Novo nome">
        <span asp-validation-for="@Model.Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" asp-for="@Model.Cpf" class="form-control mascara-cpf" placeholder="000.000.000-00">
        <span asp-validation-for="@Model.Cpf" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" asp-for="@Model.Email" class="form-control" placeholder="exemplo@email.com">
    </div>

    <div class="form-group">
        <label for="disciplina">Disciplina</label>
        <select asp-for="DisciplinaId" asp-items="ViewBag.Disciplinas" class="form-select">
            <option value="">Nenhuma</option>
        </select>
    </div>

    <div class="form-group">
        <label for="dataNascimento">Data de Nascimento</label>
        <input type="date" asp-for="@Model.DataNascimento" class="form-control">
        <span asp-validation-for="@Model.DataNascimento" class="text-danger"></span>
    </div>
    <br />
    <div class="d-flex gap-2">
        <button type="submit" class="botao botao-primario botao-acao">Adicionar</button>
    </div>
</form>

